version: "3.9"

services:
  # ------------------- Mediacenter -------------------
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Chile/Continental
    volumes:
      - ${BAZARR_CONFIG_VOLUME}:/config
      - ${PLEX_CONFIG_VOLUME}:/config
      - ${TV_SERIES_VOLUME}:/tv
      - ${MOVIES_VOLUME}:/movies
    ports:
      - 6767:6767
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Chile/Continental
    volumes:
      - ${PLEX_CONFIG_VOLUME}:/config
      - ${TV_SERIES_VOLUME}:/tv
      - ${MOVIES_VOLUME}:/movies
    restart: unless-stopped
    mem_limit: 1g
    cpus: 0.8

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Chile/Continental
      - WEBUI_PORT=8089
      - TORRENTING_PORT=6881
    volumes:
      - ${QBITTORRENT_CONFIG_VOLUME}:/config
      - ${DOWNLOADS_VOLUME}:/downloads
    ports:
      - 8089:8089
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Chile/Continental
    volumes:
      - ${SONARR_CONFIG_VOLUME}:/config
      - ${TV_SERIES_VOLUME}:/tv
      - ${DOWNLOADS_VOLUME}:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Chile/Continental
    volumes:
      - ${RADARR_CONFIG_VOLUME}:/config
      - ${MOVIES_VOLUME}:/movies
      - ${DOWNLOADS_VOLUME}:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Chile/Continental
      - AUTO_UPDATE=true
    volumes:
      - ${JACKETT_CONFIG_VOLUME}:/config
      - ${DOWNLOADS_VOLUME}:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Chile/Continental
    volumes:
      - ${OVERSEERR_CONFIG_VOLUME}:/config
    ports:
      - 5055:5055
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Chile/Continental
    volumes:
      - ${PROWLARR_CONFIG_VOLUME}:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  # ------------------- Monitoreo -------------------
  cadvisor:
    image: gcr.io/google-containers/cadvisor:latest
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8080:8080
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    network_mode: "host"
    pid: "host"
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - 3000:3000
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  grafana_data:
  prometheus_data: