version: "3.9"

services:
  # ------------------- Mediacenter -------------------
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: "host"
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - /mnt/nvme/plex_config:/config
      - ${TV_SERIES_VOLUME}:/tv
      - ${MOVIES_VOLUME}:/movies
    restart: unless-stopped
    mem_limit: 1.5g
    cpus: 1
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    network_mode: "host"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/jellyfin_config:/config
      - ${TV_SERIES_VOLUME}:/data/tvshows
      - ${MOVIES_VOLUME}:/data/movies
    restart: unless-stopped
    mem_limit: 1.5g
    cpus: 1
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/bazarr_config:/config
      - /mnt/nvme/plex_config:/plex
      - ${TV_SERIES_VOLUME}:/tv
      - ${MOVIES_VOLUME}:/movies
    ports:
      - 6767:6767
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.25

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8089
      - TORRENTING_PORT=6881
    volumes:
      - /mnt/nvme/qbittorrent_config:/config
      - ${DOWNLOADS_VOLUME}:/downloads
    ports:
      - 8089:8089
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.25

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/sonarr_config:/config
      - ${TV_SERIES_VOLUME}:/tv
      - ${DOWNLOADS_VOLUME}:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.25

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/radarr_config:/config
      - ${MOVIES_VOLUME}:/movies
      - ${DOWNLOADS_VOLUME}:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.25

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - AUTO_UPDATE=true
    volumes:
      - /mnt/nvme/jackett_config:/config
      - ${DOWNLOADS_VOLUME}:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.25

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/overseerr_config:/config
    ports:
      - 5055:5055
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.25

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/prowlarr_config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.25

  # ------------------- Monitoreo -------------------
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.25

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - 9100:9100
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    restart: unless-stopped
    networks:
      - monitoring
    mem_limit: 128m
    cpus: 0.1

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    restart: unless-stopped
    networks:
      - monitoring
    mem_limit: 512m
    cpus: 0.25

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - 3000:3000
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    networks:
      - monitoring
    mem_limit: 512m
    cpus: 0.25

volumes:
  grafana_data:
  prometheus_data:

networks:
  monitoring:
    driver: bridge
