version: "3.9"

services:
  # ------------------- Mediacenter -------------------
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: bridge
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PLEX_CLAIM=${PLEX_CLAIM} 
    volumes:
      - ${PLEX_CONFIG_VOLUME}:/config
      - ${TV_SERIES_VOLUME}:/tv
      - ${MOVIES_VOLUME}:/movies
      - ${HDD_CACHE_PLEX}:/cache   # thumbnails, metadata, transcodes
    ports:
      - "32400:32400"
      - "1900:1900/udp"
      - "32469:32469"
      - "32410-32414:32410-32414/udp"
    restart: unless-stopped
    mem_limit: 2g
    cpus: 3

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${BAZARR_CONFIG_VOLUME}:/config
      - ${PLEX_CONFIG_VOLUME}:/plex
      - ${TV_SERIES_VOLUME}:/tv
      - ${MOVIES_VOLUME}:/movies
      - ${HDD_CACHE_BAZARR}:/cache
    ports:
      - 6767:6767
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8089
      - TORRENTING_PORT=6881
    volumes:
      - ${QBITTORRENT_CONFIG_VOLUME}:/config
      - ${DOWNLOADS_VOLUME}:/downloads
      - ${HDD_CACHE_QBITTORRENT}:/cache
    ports:
      - 8089:8089
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    mem_limit: 2gb
    cpus: 0.5

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${SONARR_CONFIG_VOLUME}:/config
      - ${TV_SERIES_VOLUME}:/tv
      - ${DOWNLOADS_VOLUME}:/downloads
      - ${HDD_CACHE_SONARR}:/cache
    ports:
      - 8989:8989
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${RADARR_CONFIG_VOLUME}:/config
      - ${MOVIES_VOLUME}:/movies
      - ${DOWNLOADS_VOLUME}:/downloads
      - ${HDD_CACHE_RADARR}:/cache
    ports:
      - 7878:7878
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - AUTO_UPDATE=true
    volumes:
      - ${JACKETT_CONFIG_VOLUME}:/config
      - ${DOWNLOADS_VOLUME}:/downloads
      - ${HDD_CACHE_JACKETT}:/cache
    ports:
      - 9117:9117
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${OVERSEERR_CONFIG_VOLUME}:/config
      - ${HDD_CACHE_OVERSEERR}:/cache
    ports:
      - 5055:5055
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${PROWLARR_CONFIG_VOLUME}:/config
      - ${HDD_CACHE_PROWLARR}:/cache
    ports:
      - 9696:9696
    restart: unless-stopped
    mem_limit: 512m
    cpus: 0.5

  # ------------------- Monitoreo -------------------
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - 9100:9100
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    restart: unless-stopped
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    restart: unless-stopped
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - 3000:3000
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    networks:
      - monitoring

volumes:
  grafana_data:
  prometheus_data:

networks:
  monitoring:
    driver: bridge