# Configuraci칩n din치mica de Traefik
# Middlewares para seguridad

http:
  middlewares:
    # Seguridad b치sica
    security-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000
    
    # Rate limiting
    rate-limit:
      rateLimit:
        average: 100
        burst: 50
    
    # Compresi칩n
    compression:
      compress: {}
